/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* generali */

a{
    text-decoration: none;
    color: white;
}
    


/* header */

.header-container{
    width: 100%;
    background-color: #FF6900;
    
    
}

.nav-bar{
    width: 60%;
    margin: auto;
    color: white;
    justify-content: space-between;
    display: flex;
    padding: 10px 0px;
    
}

.logo-box{
    width: 100px;
}
   
.logo-box img{
    width: 100%;
}
    
a{
    text-decoration: none;
    
}

.nav-bar > ul li {
    display: inline-block;
    padding-right: 5px;
}

i{
    padding-left: 5px;
}

/* fine header */

.red-text{
    color: red;
}

.line-text{
    text-decoration: line-through;
    padding-left: 5px;
}


.bar-container{
    position: absolute;
    bottom: 10%;
}

.red-bar{
    color: white;
    background-color: red;
    padding: 5px 5px;
}
    

.green-bar{
    color: white;
    background-color: green;
    padding: 5px 5px;
}

.heart-box{
    width: 30px;
    height: 50px;
    position: absolute;
    bottom: 80%;
    left: calc(100% - 30px);
    background-color: white;
    line-height: 50px;
    text-align: center;
    display: none;
}

.image-box{
    position: relative;
}

.card:hover .heart-box{
    display: block;
}
    

/* debug */



.main-container{
    margin: auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.main-container > .card{
    width: calc((100% / 3) - 10px);
    min-height: 400px;
    margin-top: 50px;
}
        

.margin{
    margin: 0px 15px;
}

/* .image-box{
    width: 100%;
} */

.image-box :first-child{
    width: 100%;
}
   
   